/test/nbproject/private/
/test/build/
/TestJavaFXML/nbproject/private/
/TestJavaFXML/build/
/Uno/nbproject/private/
/Uno/build/
/CardGameProject-haveBug/nbproject/private/
/CardGameProject-haveBug/build/
