/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 24, 2021, 3:14:05 AM
    Author     : chura
*/

.root{
    -fx-background-color: violet;
}

.button{
    -fx-background-color: bisque;
    -fx-text-fill: blueviolet;
    -fx-font-weight: bold;      
    -fx-font-size: 20px;
    
}
.button:hover{
    -fx-background-color: black;
    -fx-text-fill: greenyellow;
    -fx-font-weight: bold;  
    -fx-font-size: 20px;
    -fx-animation: faded in;
    -fx-transition: 0.5s;
    /*-fx-animation: fade ease-in-out, 5.5s all;*/
}
.button:focus{
    -fx-rotate: 10s;
}

/*#playNow{
    fx-color:cyan;
    color: green;
    -fx-background-color: black;
    -fx-text-fill: aquamarine;
}*/

.MenuBtn{

}
.MenuBtn:hover{
    color: green;
}